header {

    .franja {
        p {
            background-color: #89a5b3;
            color: white;
            font-size: 18px;
            padding: 2px;
            text-align: center;
            position: fixed;
            width: 100vw;
            height: 27px;
            top: 0;
            z-index: 1000;
            font-family: "Roboto", sans-serif;
            content: 1784;
        }
    }

    .logo-nav {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        margin-top: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px 0 0;

        .logojc {
            a {
                img {
                    width: 110px;
                    display: block;
                    margin-left: 90px;
                }
            }
        }

        .titulo-principal {
            a {
                text-decoration: none;

                h1 {
                    color: $turquesa-puro;
                    font-size: 15px;
                    font-family: "Jost", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                }
            }
        }


        .nav {
            margin-left: auto;
            justify-content: flex-end;

            ul {
                li {
                    a {
                        color: $turquesa-oscuro;
                        font-size: 1.2rem;
                        font-weight: bold;
                        font-family: "Roboto",
                            sans-serif;

                        &:hover {
                            color: black;
                        }

                    }
                }
            }
        }
    }

}

@media screen and (min-width:660px) and (max-width:992px) {
    header {
        .logo-nav {
            display: flex;

            .logojc {
                margin-right: 5px;

                img {
                    margin-left: 30px;
                }
            }

            .titulo-principal {
                flex: 2;
            }

            .nav {
                flex-wrap: wrap;

                .navbar-nav {
                    flex-direction: row;

                    .nav-item {
                        margin-right: 10px;

                        .nav-link {
                            padding: 5px 10px;
                        }
                    }
                }
            }

        }
    }

}

@media screen and (max-width:659px) {
    header {
        .franja {
            p {
                font-size: 14px;
            }
        }

        .logo-nav {
            .container-fluid {
                flex-direction: column;
                align-items: center;

                .logojc {
                    margin: 0 auto;

                    a {
                        img {
                            margin: 0 auto;
                        }
                    }
                }
            }

            .titulo-principal {
                display: none;
            }

            .navbar-toggler {
                position: absolute;
                right: 10px;
                top: 50px;
            }

            .nav {
                margin-left: initial;

                .navbar-nav {
                    align-items: center;
                }
            }
        }
    }

}

@media screen and (max-width:480px) {
    header {
        .franja {
            p {
                font-size: 11px;
            }
        }
    }
}
@media screen and (max-width:390px) {
    header {
        .franja {
            p {
               font-size: 9px;
            }
        }
    }
}