.pages-servicios {
    .conteiner-cajas-servicios {
        width: 100%;
        margin: 0 auto;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;

        .cajas-servi {
            .cajas-servicios {
                width: 100%;

                img {
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h5 {
                        font-size: 30px;
                        font-weight: bold;
                        color: $naranja-sol;
                    }

                    p {
                        flex-grow: 1;
                        line-height: 1.8;
                    }

                    a {
                        font-size: 25px;
                        background-color: #44798c;

                        &:hover {
                            background-color: $naranja-sol;
                        }
                    }

                }
            }
        }
    }

    .subtitulos-serv {
        width: 100%;
        color: $turquesa-puro;
        font-size: 30px;
        text-align: center;

    }

    .tamano-acordion {
        margin: 0 15px;
    }

}

@media screen and (min-width:660px) and (max-width:992px) {
    .pages-servicios {
        .conteiner-cajas-servicios {
            .cajas-servi {
                .cajas-servicios {
                    img {
                        height: 180px;
                    }

                    .card-body {
                        h5 {
                            font-size: 20px;
                        }

                        p {
                            line-height: 1.2;
                        }

                        a {
                            font-size: 19px;
                        }

                    }

                }
            }
        }
    }
}

@media screen and (max-width:659px) {
    .pages-servicios {
        .conteiner-cajas-servicios {

            .cajas-servi {
                display: flex;
                justify-content: center;

                .cajas-servicios {
                    width: 80%;

                    img {
                        height: 180px;
                    }

                    .card-body {
                        h5 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 12px;
                        }

                        a {
                            font-size: 15px;
                        }

                    }

                }
            }
        }

        .subtitulos-serv {
            font-size: 25px;
        }

    }
}
