@import "var";
@import "body";
@import "header";
@import "main";
@import "servicios";
@import "ubicaciones";
@import "contacto";
@import "footer";

@media screen and (min-width:660px) and (max-width:992px) {
    header {
        .logo-nav {
            display: flex;

            .logojc {
                margin-right: 5px;

                img {
                    margin-left: 30px;
                }
            }

            .titulo-principal {
                flex: 2;
            }

            .nav {
                flex-wrap: wrap;

                .navbar-nav {
                    flex-direction: row;

                    .nav-item {
                        margin-right: 10px;

                        .nav-link {
                            padding: 5px 10px;
                        }
                    }
                }
            }

        }
    }

    //index
    main {
        .imagen-muestras-contenedor {
            .imagen-muestras {
                flex-wrap: wrap;
                justify-content: center;

            }
        }

        .imagen-elegirnos-contenedor {
            .imagen-elegirnos {
                .imagen-elegirnos-items {
                    padding: 5px;

                    img {
                        max-width: 80px;
                        margin-bottom: 10px;
                    }

                    h3 {
                        margin: 0;
                        font-size: 20px;

                    }
                }
            }
        }

        .marcas {
            h4 {
                font-size: 18px;
            }
        }

    }

    //footer
    .footer-contenedor {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.2fr 1.4fr 0.3fr;
        gap: 0px 0px;

        grid-template-areas:
            "mpago contacto contacto"
            "nav-footer nav-footer nav-footer"
            "derechos derechos derechos";

        .mpago {
            img {
                width: 250px;
            }
        }
    }
}

@media screen and (max-width:659px) {
    header {
        .franja {
            p {
                font-size: 14px;
            }
        }

        .logo-nav {
            .container-fluid {
                flex-direction: column;
                align-items: center;

                .logojc {
                    margin: 0 auto;

                    a {
                        img {
                            margin: 0 auto;
                        }
                    }
                }
            }

            .titulo-principal {
                display: none;
            }

            .navbar-toggler {
                position: absolute;
                right: 10px;
                top: 50px;
            }

            .nav {
                margin-left: initial;

                .navbar-nav {
                    align-items: center;
                }
            }
        }
    }

    main {
        .subtitulos-index {
            h2 {
                font-size: 20px;
            }
        }

        .imagen-muestras-contenedor {
            .imagen-muestras {
                justify-content: center;

                .imagen-muestras-item {
                    margin: 5px;

                    img {
                        margin: 0;
                        width: 200px;
                    }
                }
            }
        }


        .imagen-elegirnos-contenedor {
            .imagen-elegirnos {
                .imagen-elegirnos-items {
                    margin: 1px;
                    padding: 3px;

                    img {
                        max-width: 60px;
                        margin-bottom: 2px;
                    }

                    h3 {
                        margin: 0;
                        font-size: 12px;

                    }
                }
            }
        }

        .marcas {
            h4 {
                font-size: 18px;
            }
        }
    }

    //footer

    .footer-contenedor {
        padding: 0px;

        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.9fr 0.2fr;
        gap: 0px 0px;

        grid-template-areas:
            "mpago"
            "contacto"
            "nav-footer"
            "derechos";

        .mpago {
            img {
                width: 150px;
            }
        }
    }

}

@media screen and (max-width:480px) {}